<%- include ('header.ejs') -%> 
<link rel="stylesheet" href="/css/homeStyle.css">
<body>

    <div class="container my-5">
        <div class="card my-5 card">
            <div class="card-body my-4">
                <div class="container pl-5">
                    <div class="row pl-3">
                        <div class="col-md-6">
                            <div class="d-flex justify-content-start ml-5">
                                <a href="/admin" class="btn btn-transparent border border-light btn-outline-light go font-weight-bolder">
                                    Go Admin
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="d-flex justify-content-end mr-5">
                                <a href="/user" class="btn btn-transparent border border-light btn-outline-light go font-weight-bolder">
                                    Go user
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include ('footer.ejs') -%>
</body>
